{{#> body }}
  <h1>Vista de Productos</h1>

  {{#if products}} {{!-- Me fijo si existen los products recibo los products --}}
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>PRECIO</th>
          <th>FOTO</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}} {{!--si existen, los recorro y armo la tabla con sus valores --}}
        <tr>
          <td>{{{title}}}</td>
          <td>{{{price}}}</td>
          <td>
            <img
              src="{{{thumbnail}}}"
              alt="{{{title}}}"
              width="100px"
            />
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  {{else}}
    <div class="alert alert-danger">No hay productos</div>
  {{/if}}       
{{/body}}